body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
ul li{
    all:unset;
    background-color: lawngreen;
    margin-bottom: 1em;
    padding: 1em;
    cursor: pointer;
    transition: 0.5s;
}
ul li:hover{
    background-color: black;
    color:white
}
.inicio{
    background-color:chocolate;
}
a{
    all:unset;
    padding: 2em;
}
h1{
    color: forestgreen;
    letter-spacing: 0.25em;
}
h2{
    color:lawngreen;
    margin-bottom: 0;
}
h3{
    color: chocolate;
}
hr{
    border-color: lawngreen;
    margin:0;
}
span{
    color:chocolate
}
.contenedor{
    width: 900px;
    border: 10px solid rgb(207, 207, 207);
    display: flex;
    flex-direction: row;
}
section{
    margin: 1em;
    padding: 1em;
}
article{
    border: solid 2px grey;
    padding: 1em;
}
aside{
    position: relative;
    top:6em;
}